.App-header {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
  margin-right: 20px;
}

main {
  padding: 20px;
  font-family: sans-serif;
}

input[type="file"] {
  margin: 0 10px;
}

button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.sigCanvas {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 10px;
}
